## Задача 1:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
fr = '''
Бананы - 100
Манго - 77
Киви - 250
'''
 
import re
 
def Total(a):
    return sum([int(i.group()) for i in re.finditer(r'\d+', a)])
 
print('Всего: ', Total(fr))

Всего:  427

## Задача 2:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [2]:
array = [100, 125, -90, 345, 655, -1, 0, 200]
list_comp = [a for a in array if a > 0]
print(sum(list_comp))

1425

## Задача 3:
Даны два списка:

Дата покупки:
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 3.1 
Найдите, какая выручка у компании в ноябре.

Используйте list comprehensions.

In [3]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
        '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
        '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
money = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
         2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
print(sum([m for d, m in zip(date, money) if d[5:7] == "11"]))

25098

### 3.2 
Найдите выручку компании в зависимости от месяца.

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [4]:
dt = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

sm = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in dt]
df['Sum'] = sm
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month').sum()

         Sum
Month
9      25647
10     28645
11     25098
12     45452

### 3.2.1

In [5]:
def Total(d,s):
    Month = set([i[5:7] for i in d])
    res = dict.fromkeys(Month, 0)
    for i,j in enumerate(d):
        res[j[5:7]] += s[i]
           
    return res
    
print(Total(dt, sm))

{'09': 25647, '11': 25098, '12': 45452, '10': 28645}